.books-main-container {
    // width: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 30px; /* Adjust spacing between items */
    padding: 16px;
    align-items: stretch;
  }
  