@use "../../assets//Theme.scss" as *;

.header-main-container {
    width: 100%;
    min-height: 80px; // ✅ Adjust to include padding effect
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(44, 42, 42, 0.123);
    display: flex;
    align-items: center;
    // padding: 40px 0px 40px 50px;
    z-index: 1000;
    
}

.logo{
    margin-left: 30px;
    color : $dark-green;
}


