$primary : #ACE1AF;
$dark-green : #72BF78;
$secondary : #B0EBB4;
$tertiary : #BFF6C3;
$light-green : #E0FBE2;
$anchor-color : #0000EE;
$visited-anchor-color : #551A8B;

$black : #3d3d3d;
$light-black  : rgba(0, 0, 0, 0.7);


